.common-button {
    background-color: #492299;
    color: white;
    width: 100px;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    transition: 0.1s;
    margin: 8px 8px;
    &:hover {
      opacity: 0.8;
      transform: translate3d(1px, 5px, 0);
    }

  }