

.profile-main-container {
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
}

.profile-container-top {
    width: 600px;
    margin: 48px auto 80px;
}

.profile-container {
    width: 700px;
    margin: 24px auto;
    padding-bottom: 24px;
    display: flex;
    border-bottom: 1px solid;
}


.profile-icon-image {
    width: 100px;
    border-radius: 50%;
    /* margin-right: 32px; */
    float:left;
}

.profile-image-container {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.profile-text-container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.profile-text {
    margin: 16px 0;
}

.profile-text-title {
    margin: 0;
}

.profile-icon-ditaile {
    color: gray;
    font-size: 12px;
    display: block;
    width: 100px;
}

